 {{#if data.role}}<button type="button" class="btn btn-primary add" id="add" onclick="add()">ADD</button>
 {{else}}
 <button
      type="button"
      class="btn btn-info filter"
      id="history"
      onclick="posthistory()"
    >History</button>
 {{/if}}
    <button
      type="button"
      class="btn btn-info filter"
      id="filter"
      onclick="searchto()"
    >Search</button>
 <div class="table-users"><div class="header">Books
</div>
<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Availiability</th>
    <th></th>
  </tr>
  {{#each data.info}}
    <tr id={{this.id}}>
      <td>{{this.bookname}}</td>
      <td>{{this.number}}</td>
      {{#if this.avail}}
        <td>Availiable</td>
      {{else}}
        <td>Unavailiable</td>
      {{/if}}
      <td id="action">{{#if ../data.role}}<button
            type="button"
            class="btn btn-danger"
            id="btn"
            onclick="checkId({{this.id}},{{this.avail}})"
          >Change State</button>
        {{else}}
          <button
            type="button"
            class="btn btn-success"
            id="btn"
            onclick="getId({{this.id}})"
          >Checkout</button>{{/if}}</td>
    </tr>
  {{/each}}
</table>
</div>